<nav class="sideNavbar">
    <img class="navMenu" src="../../assets/AML Knowledge Traversal.png">
    <img class="navMenu" src="../../assets/Customer Behavior Analytics.png">
    <img routerLink="/saranalytics" class="navMenu" src="../../assets/SAR Analytics.png">
    <img class="navMenu" src="../../assets/Model Performance Monitoring.png">
    <img class="navMenu" src="../../assets/Entity_Matching_Exposure_Analytics.png">
    <img class="navMenu" src="../../assets/Compliance Reporting.png">
    <img class="navMenu" src="../../assets/Heart.png">
    <img  routerLink="/admin" class="navMenu" src="../../assets/Admin.png">
    <img class="navMenu" src="../../assets/Settings.png">
 </nav>
